html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
	height: 100%;
	position: relative;
}
input {
	font-size: 14px;
}
h1 {
	color: #525454;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}
#map {
	bottom:0px;
	height: 100%;
	left: 25%;
	position: absolute;
	right: 0px;
}
.menubar {
	height: 100%;
	background: grey;
	border: 1px solid #999;
	border-radius: 3px;
	line-height: 35px;
	/*padding: 10px 10px 30px 10px;*/
	text-align: left;
	width: 25%;
}
.filter-box {
	height: 20%;
}
#pano {
	width: 200px;
	height: 200px;
}
.text {
	font-size: 14px;
}
#toggle-drawing {
	width: 27%;
	position: relative;
	margin-left: 10px;
}
#filter-text {
	position: relative;
	width: 80%;
}
#filter {
	width: 24%;
	font-size: 20px;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
	height: 80%;
	overflow-y: scroll;
}
li a{
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}